name: Automated Linting and Unit Tests

on: [push, pull_request]

jobs:
  unittests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies
        run: npm ci

      # - name: Code Linting
      #   run: npm run lint

      - name: Start Redis
        uses: superchargejs/redis-github-action@master
        with:
          redis-version: 5

      - name: Unit testing
        run: npm test
        env:
          GLIDER_ORGID: '0x94bf5a57b850a35b4d1d7b59f663ce3a8a76fd9928ef2067cc772fc97fb0ad75'
          INFURA_ENDPOINT: wss://ropsten.infura.io/ws/v3
          INFURA_PROJECT_ID: ${{ secrets.INFURA_PROJECT_ID }}
          REDIS_URL: redis://localhost:6379 